@import "tailwindcss";

@theme {
    /* Цвета */
    --color-catalog: #f0f0f0;
    --color-main: #A49F97;

    /* Градиент */
    --gradient-main: linear-gradient(rgba(164, 159, 151, 1) 0%, rgba(188, 185, 177, 1) 50%, rgba(198, 191, 182, 1) 100%);

    /* Фон */
    --background-image-main: url('/main_background.png'); /* Изменено имя переменной */

    /* Шрифты Next.js (связываем с нашей переменной --font-futura) */
    --font-main: var(--font-futura), sans-serif;
    --font-second: var(--font-futura), sans-serif; /* Для жирного просто используйте класс font-semibold */
    --font-third: var(--font-inter), sans-serif; /* Если Inter тоже подключается через next/font */
}
